.profile {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.sidebar {
  flex: 0 0 200px;
}

.main {
  flex: 1 1 auto;
}

.message-box {
  padding: 0px;
}

.message-stream {
  height: 600px;
  overflow-y: scroll;
}

.message-stream li {
  position: relative;
  margin: 8px;
  max-width: 65%;
  clear: both;
}

.message-stream li.user-other {
  float: left;
}

.message-stream li.user-me {
  float: right;
}

.gif {
  width: 159px;
  height: 159px;
  overflow: hidden;
  float: left;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}

/*:hover .gif {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
};*/

.gif-container {
  width: 480px;
  height:360px;
  overflow-y: scroll;
  border: solid black 1px;
}