.profile {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.sidebar {
  flex: 0 0 200px;
}

.main {
  flex: 1 1 auto;
}

.message-box {
  padding: 0px;
}

.message-stream {
  height: 600px;
  overflow-y: scroll;
  margin: 0.5rem 0 1rem 0;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.message-stream li {
  height: 360px;
  width: 480px;
  clear: both;
  margin: 15px;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
}

.message-stream img {
  height: 360px;
  width: 480px;
}

.message-stream li.user-other {
  float: left;
}

.message-stream li.user-me {
  float: right;
}

.session {
  /*visibility: hidden;*/
}

.noSession {
  /*visibility: visible;*/
}

.recorder {
  position: relative;
  float: right;
  height: 360px;
  width: 480px;
  background: black;
}

.recorder canvas {
  position: absolute;
  cursor: pointer;
  z-index: 0;
}

.gif {
  width: 250px;
  float: left;
}

